In [4]:
import pandas as pd
import numpy as np

In [13]:
file_path = 'customer_shopping_data.csv'
df = pd.read_csv(file_path)

In [14]:
# 2. Get 5000 random rows (The Pandas Way - Recommended)
df_sample = df.sample(n=5000, random_state=42)

In [15]:
# 3. Get 5000 random rows
random_indices = np.random.choice(df.index, size=5000, replace=False)
df_numpy_sample = df.iloc[random_indices]

In [16]:
print(f"Total rows in sample: {len(df_sample)}")
print(df_sample.head())

Total rows in sample: 5000
      invoice_no customer_id  gender  age         category  quantity    price  \
65475    I704758     C971218  Female   56  Food & Beverage         4    20.92
96548    I218404     C949846    Male   22  Food & Beverage         5    26.15
33949    I195516     C440398  Female   53  Food & Beverage         4    20.92
58198    I833735     C113971  Female   65  Food & Beverage         5    26.15
71781    I144592     C529879  Female   51            Shoes         4  2400.68

      payment_method invoice_date shopping_mall
65475           Cash   14/05/2021        Kanyon
96548           Cash     9/9/2022     Metrocity
33949     Debit Card     1/4/2021        Kanyon
58198    Credit Card     3/8/2022   Cevahir AVM
71781    Credit Card   15/04/2021  Metropol AVM

In [17]:
df_sample.to_csv('customer_shopping_data_new.csv', index=False)